body, html{
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
}
.block0{
  background-color: white;
  padding: 15px 4%;
  max-width: 500px;
color: #87ca81;
font-size: 20px;
margin: 0px auto;
width: 92%;
}
.block0 img{
  height: 30px;
}
.fa-envelope{
float: left;
position: relative;
top: 4px;
font-size: 20px;
}
.fa-user{
float: right;
position: relative;
top: -23px;
font-size: 20px;
}
.block1{
  padding: 20px;
  text-align: center;
  background-color: #87ca81;
  color: white;
  font-size: 36px;
}
.block2{
  text-align: center;
  color: #87ca81;
  min-height: 400px;
  background-color: #eeffec;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
}
.block2 p{
  font-size: 20px;
  padding: 0px 20px;
}
li p{
  font-size: 30px!important;
  z-index: 20;
  margin-top: 5px!important;
}
.lSPager.lSGallery{
margin: 0 auto!important;
}
#thismonth{
  position: relative;
}
.weatherStatus{
  position: absolute;
  width: 230px;
  top: 55px;
  left: 0px;
  z-index: 1;
}
.ribbon{
  position: absolute;
  width: 100px;
  top: 40px;
  right: 40px;
  z-index: 999;
}
.active{
position: relative;
}
.thismonthplant{
  z-index: 100;
}
#chart-wrapper {
  margin-left: 10%;
}

#debug-buttons {
  margin-left: 25%;
  width: 50%;
}

.demo {
    max-width:420px;
    width: 100%;
    overflow: hidden;
    margin: 20px auto;
}
ul {
    list-style: none outside none;
    padding-left: 0;
    margin: 0 auto;
}
li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}

#kasvi {
  height: 200px;
}
#extra-wrapper {
  display: none;
}
img{
  cursor: pointer;
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}
.social-likes{
  padding-top: 20px;
}
.social-likes div{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

@media screen and (max-width: 700px){
#chart-wrapper {
  margin-left: 0;
  width: 100%;
}
}

